<%= form_with(model: group, local: true) do |form| %>
  <% if group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Miembros %>
    <%= form.number_field :member %>
  </div>

  <div class="field">
    <%= form.label :'Fecha Debut' %>
    <%= form.date_select :debut_date %>
  </div>

    <div class="field">
        <%= form.label :gender, "Genero" %>
        <%= form.select :gender, options_for_select(@genders)%>
      </div>




  <div class="field">
    <%= form.label :Nombre %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>