<p id="notice"><%= notice %></p>

<h1>Grupos y Conciertos</h1>

<table class = "table">
  <thead>
    <tr>
      <th>Miembros</th>
      <th>Fecha debut</th>
      <th>Genero</th>
      <th>Conciertos</th>
      <th>Cantidad de personas</th>
      <th>Fecha Concierto</th>
      <th>id</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.member %></td>
        <td><%= group.debut_date %></td>
        <td><%= group.gender %></td>
        <td><%= group.concert_count%></td>
        <td>
          <ul><% group.concerts.each do |concert|%>  
              <li><%=concert.participant %> </li>
              <%end%>
          </ul> 
        </td>
        <td>
          <ul><% group.concerts.each do |concert|%>  
              <li><%=concert.date_concert %> </li>
              <%end%>
          </ul>
        </td>
    
        <td>
          <ul><% group.concerts.each do |concert|%>  
              <li><%=concert.id %> </li>
              <%end%>
          </ul>
        </td>

        <td><%= link_to 'Show', group %></td>
        <td><%= link_to 'Edit', edit_group_path(group) %></td>
        <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Concierto', new_concert_path %>
<%= link_to 'Nuevo Grupo', new_group_path %>